astroid
autopep8
certifi
chardet
coverage
coveralls
dj-database-url
Django
django-cors-middleware
django-extensions
django-nose
djangorestframework
docopt
gunicorn
idna
isort
lazy-object-proxy
mccabe
nose
psycopg2
psycopg2-binary
pycodestyle
PyJWT
pylint
python-decouple
pytz
requests
six
typed-ast
urllib3
whitenoise
wrapt
Pillow
python-twitter
facebook-sdk
google-auth-httplib2
google-auth-oauthlib
google-auth
django_currentuser